/* bus booking top banner start */
.bus-home-top-banner{
    position: relative;
    padding: 9% 2% 3%;
    background-size: cover;
    background-position: center 100%;
    margin-top: -44px;
}
.bus-home-top-banner-title{
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 12px;
    color: var(--secondary);
}
.bus-home-top-banner-text{
    font-size: 16px;
    color: var(--secondary);
    margin-bottom: 21px;
}
/* bus booking top banner end */

.bus-home-banner{
    margin-top: 35px;
    margin-bottom: 35px;
}

/* contact form start */

.contactform{
    background: var(--body-bg);
    /* background: #fff; */
    box-shadow: 0px 0px 11px 2px rgb(57 49 134 / 10%);
    padding: 15px;
    border-radius: 8px;
}
  
.contactform .input-field {
    position: relative;
    margin: 25px 0;
    padding-left: 0px;
    color: var(--darkText);
}
.contactform .input-field input {
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    height: 40px;
    border-bottom: 1px solid var(--borderColor);
    color: inherit;
    transition: 0.2s ease;
}
.contactform .input-field input::-moz-placeholder {
    color: transparent;
}
.contactform .input-field input:-ms-input-placeholder {
    color: transparent;
}
.contactform .input-field input::placeholder {
    color: transparent;
}
.contactform .input-field input:not(:-moz-placeholder-shown) {
    border-bottom: 1px solid var(--primary);
    box-shadow: 0 1px 0 0 var(--primary);
}
.contactform .input-field input:not(:-ms-input-placeholder) {
    border-bottom: 1px solid var(--primary);
    box-shadow: 0 1px 0 0 var(--primary);
}
.contactform .input-field input:focus, .contactform .input-field input:not(:placeholder-shown) {
    border-bottom: 1px solid var(--primary);
    box-shadow: 0 1px 0 0 var(--primary);
}
.contactform .input-field input:not(:-moz-placeholder-shown) + label {
    transform: translateY(-14px) scale(0.85);
    color: var(--primary);
}
.contactform .input-field input:not(:-ms-input-placeholder) + label {
    transform: translateY(-14px) scale(0.85);
    color: var(--primary);
}
.contactform .input-field input:focus + label, .contactform .input-field input:not(:placeholder-shown) + label {
    transform: translateY(-14px) scale(0.85);
    color: var(--primary);
}
.contactform .input-field label {
    color: var(--textGray);
    position: absolute;
    top: -10px;
    left: 0px;
    font-size: 15px;
    cursor: text;
    transform-origin: 0% 100%;
    transform: translateY(14px);
    transition: 0.2s ease-out;
}
.contactform .send-msg-btn{
    text-align: center;
    margin: 20px 0;
}
.contactform .send-msg-btn button{
    padding: 10px 30px;
}
  
/* selectpicker start */
.contactform .select-option{
    margin-top: 31px;
    margin-bottom: 20px;
}
.contactform .select-option .select-type{
    font-size: 15px;
    color: var(--textGray);
    font-weight: normal; 
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0%; 
    border: none;
    border-bottom: 1px solid var(--borderColor);
    margin-bottom: 0;
    background: none;
    text-align: left;
    padding-bottom: 10px;
}
    
.contactform .select-toggle::after { 
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    float: right;
    margin-top: 13px;
}
.contactform .select-option a:hover{
    background-color: var(--primary);
    color: var(--whiteColor);
}
    
.contactform .select-option .dropdown-menu{
    height: 200px; 
    overflow-y: scroll;
    width: 100%;
}
    
.contactform .select-option .dropdown-menu {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--darkText);
}
    
.contactform .select-option .dropdown-menu::-webkit-scrollbar {
    width: 5px;
}
.contactform .select-option .dropdown-menu {
    scrollbar-width: thin;
    scrollbar-color: var(--darkText);
}
.contactform .select-option .dropdown-menu::-webkit-scrollbar-track {
    background: var(--whiteColor);
}
.contactform .select-option .dropdown-menu::-webkit-scrollbar-thumb {
    background-color: var(--borderColor) ;
    border-radius: 6px;
}
/* selectpicker end */
    
/* contact form end */




/* location form start */

.screen-home {
  width: 100%;
  position: absolute;
  z-index: 1;
}
.screen-home__form-wrap {
  padding: 0 1rem;
}
.screen-home__form {
	padding: 40px 0 0 0;
}
.screen-home__location .lable {
	display: flex;
  align-items: center;
}
.lable {
	display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.lable .icon {
	margin: 0 10px 0 0;
}
.lable .text {
	font-family: roboto;
}
.inside-wrap {
	background-color: #66A1F3;
  /*padding: 10px 0px;*/
  position: relative;
  border-radius: 5px;
}
.inside-lable {
  font-size: 0.7rem;
  padding: 0px 0 5px 0;
  display: inline-block;
}
.input {
	width: 100%;
  border: 0;
  padding: 8px 0;
  font-size: 1.4rem;
  background: none;
  outline: none;
  color: #ffffff;
}
 .from {
 	border-bottom: 2px solid #ffffff;
 }
.from, .to {
	padding: 8px 15px;
}
.rotate-btn {
  position: absolute;
  right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}
.rotate-btn figure {
	margin: 0;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #66a1f3;
}

.screen-bottom {
	position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
}
.screen-bottom ul {
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
}

/* location form end */



/* <!-- Recent search start --> */
.recent-search-outer{
    background: var(--whiteColor);
    border: 0.5px solid var(--lightBorder);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}
.recent-search-card{
    display: flex;
}
.recent-searched-location{
    display: flex;
    align-items: center;
}
.recent-searched-location p{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: var(--darkText);
}
.recent-dept-date{
    margin-top: 10px;
    color: var(--textGray);
    font-size: 14px;
}
.recent-dept-date p{
    margin: 0;
}
.recent-dept-date span{
    color: var(--darkText);
}
.recent-dept-date i{
    color: var(--primary);
}
.track-search-btn{
    margin-left: auto;
}
.track-search-btn button{
    font-size: 15px;
    font-weight: 500;
    background: none;
    padding: 6px 36px;
}

/* -- arrow start -- */
.recent-searched-location .arrow-circle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid var(--primary);
    margin-left: 10px;
}
.recent-searched-location hr.style5 {
    border-top: 2px dashed var(--primary);
    width: 93px;
    margin: 0;
    margin-left: 3px;
    margin-right: 3px;
}
.recent-searched-location img{
    margin-right: 10px;
}
/* -- arrow end -- */

/* <!-- Recent search end --> */

/* bus travel policy start */
.bus-travel-policy-outer{
    background: var(--whiteColor);
    border: 0.5px solid var(--lightBorder);
    margin-top: 35px;
    border-radius: 10px;
    padding: 15px;
}
/* bus travel policy end */


@media only screen and (min-width: 320px) and (max-width: 413px){
    .bus-home-top-banner { 
        padding: 24% 2%;
        margin-top: -70px;
    }
    .bus-home-top-banner-title {
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 8px; 
    }
    .bus-home-top-banner-text {
        font-size: 13px; 
        margin-bottom: 20px;
    }
}


@media only screen and (min-width: 414px) and (max-width: 767px){
    .bus-home-top-banner { 
        padding: 16% 2%;
        margin-top: -67px;
    }
    .bus-home-top-banner-title {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 8px; 
    }
    .bus-home-top-banner-text {
        font-size: 13px; 
        margin-bottom: 20px;
    }

}


@media only screen and (min-width: 640px) and (max-width: 767px){
    .bus-home-top-banner {
        padding: 22% 2%;
        margin-top: -63px;
    }

}



@media only screen and (min-width: 768px) and (max-width: 992px){
    .bus-home-top-banner { 
        padding: 17% 2% 4%;
        margin-top: -62px;
    }
    .bus-home-top-banner-title {
        font-size: 28px; 
    }
    .bus-home-top-banner-text {
        font-size: 14px; 
        margin-bottom: 19px;
    }

}


@media only screen and (min-width: 992px) and (max-width: 1280px){
    .bus-home-top-banner { 
        padding: 13% 2% 3%; 
        margin-top: -68px;
    }
    .bus-home-top-banner-title {
        font-size: 36px; 
        margin-bottom: 10px; 
    }
    .bus-home-top-banner-text {
        font-size: 16px; 
        margin-bottom: 19px;
    }
    .bus-home-top-banner-btn a {
        padding: 7px 22px;
        font-size: 15px;
    }

}


@media only screen and (min-width: 1280px) and (max-width: 1440px){


    .bus-home-top-banner {
        padding: 11% 2% 3%;
        margin-top: -44px;
    }
    .bus-home-top-banner-title {
        font-size: 48px; 
        margin-bottom: 12px; 
    }
    .bus-home-top-banner-text {
        font-size: 18px; 
        margin-bottom: 19px;
    }

}

  